Repository AndersJensen-NOAA/ccpp-physics, changes with the owners that CODEOWNERS names for each.
All owners: @climbfuji, @SamuelTrahanNOAA, @grantfirl, @mzhangw, @panll, @mkavulich, @AnningCheng-NOAA, @hannahcbarnes, @haiqinli, @JongilHan66, @ChunxiZhang-NOAA, @SMoorthi-emc, @mdtoyNOAA, @ValeryYudin-NOAA, @Songyou184, @RuiyuSun, @ericaligo-NOAA, @gthompsnWRF, @andrewgettelman, @AlexBelochitski-NOAA, @WeiguoWang-NOAA, @Qingfu-Liu, @joeolson42, @dustinswales, @mjiacono, @yangfanglin, @pjpegion, @lisa-bengtsson, @YihuaWu-NOAA, @HelinWei-NOAA, @barlage, @cenlinhe, @tanyasmirnova, @XuLi-NOAA, @wd20xw

remove test code. some additional tweaks for cloud-radiation.
  physics/module_bl_mynn.F90
Owners: @joeolson42

some additional tweaks for cloud nucleation and radiation interaction.
  physics/module_mp_thompson.F90
Owners: @gthompsnWRF, @RuiyuSun

final tweaks for HFIP code
  physics/module_bl_mynn.F90
  physics/module_sf_mynn.F90
Owners: @joeolson42, @climbfuji, @SamuelTrahanNOAA, @grantfirl, @mzhangw, @panll, @mkavulich

Add lower limit to cloud drop nucleation for aerosol aware scheme
  physics/module_mp_thompson.F90
Owners: @gthompsnWRF, @RuiyuSun

Add real(kind_phys) to module
  physics/module_mp_thompson_make_number_concentrations.F90
Owners: @gthompsnWRF, @RuiyuSun

Thompson SGS
  physics/module_mp_thompson.F90
  physics/mp_thompson.F90
  physics/mp_thompson.meta
Owners: @gthompsnWRF, @RuiyuSun

Initial prognostic clouds fraction
  physics/module_mp_thompson.F90
  physics/mp_thompson.F90
  physics/mp_thompson.meta
Owners: @gthompsnWRF, @RuiyuSun

Initial commit
  .gitmodules
  physics/GFS_rrtmg_pre.meta
  physics/GFS_rrtmg_setup.meta
  physics/GFS_rrtmgp_cloud_mp.meta
  physics/GFS_rrtmgp_setup.meta
  physics/module_mp_thompson.F90
  physics/mp_thompson.meta
  physics/sgscloud_radpre.meta
Owners: @climbfuji, @SamuelTrahanNOAA, @grantfirl, @mzhangw, @panll, @mkavulich, @gthompsnWRF, @RuiyuSun

Update thompson MP submodule
  physics/module_mp_radar.F90
  physics/mp_thompson.meta
Owners: @gthompsnWRF, @RuiyuSun

initial commit
  .gitmodules
  physics/module_mp_radar.F90
  physics/module_mp_thompson.F90
  physics/mp_thompson.meta
Owners: @climbfuji, @SamuelTrahanNOAA, @grantfirl, @mzhangw, @panll, @mkavulich, @gthompsnWRF, @RuiyuSun

CODEOWNERS:

########################################################################

# CODEOWNERS RULES  (syntax guide is at end of file)

# Default codeowners for files that don't have specific owners:

*       @climbfuji @SamuelTrahanNOAA @grantfirl @mzhangw @panll @mkavulich


# The following lines are from the CCPP Primary Schemes Points of Contact
#   https://docs.google.com/spreadsheets/d/14y0Th_sSpCqlssEMNfSZ_Ni9wrpPqfpPY0kRG7jCZB8/edit#gid=0
# (Internal NOAA document.)

physics/cs_conv_aw_adj.*                       @AnningCheng-NOAA
physics/cs_conv.*                              @AnningCheng-NOAA
physics/cu_gf*                                 @hannahcbarnes @haiqinli
physics/sascnvn.*                              @JongilHan66
physics/cu_ntiedtke*                           @ChunxiZhang-NOAA
physics/rascnv.*                               @SMoorthi-emc

physics/samfdeepcnv.*                          @JongilHan66
physics/samfshalcnv.*                          @JongilHan66
physics/samfaerosols.*                         @JongilHan66

physics/shalcnv.*                              @JongilHan66
physics/unified_ugwp*                          @mdtoyNOAA
physics/ugwp_driver_v0.F                       @mdtoyNOAA
physics/cires_ugwp*                            @mdtoyNOAA @ValeryYudin-NOAA
physics/drag_suite.*                           @mdtoyNOAA

physics/gwdc.*                                 @Songyou184
physics/gwdps.*                                @Songyou184

physics/gfdl_fv_sat_adj.*                      @RuiyuSun
physics/gfdl_cloud_microphys.*                 @RuiyuSun

physics/module_gfdl_cloud_microphys.*          @RuiyuSun
physics/multi_gases.F90                        @RuiyuSun

physics/mp_fer_hires.*                         @ericaligo-NOAA
physics/module_MP_FER_HIRES.*                  @ericaligo-NOAA

physics/module_mp_thompson*                    @gthompsnWRF @RuiyuSun
physics/module_mp_radar.*                      @gthompsnWRF @RuiyuSun
physics/mp_thompson*                           @gthompsnWRF @RuiyuSun

physics/precpd.*                               @RuiyuSun
physics/gscond.*                               @RuiyuSun

physics/m_micro*                               @AnningCheng-NOAA @andrewgettelman
physics/aer_cloud.F                            @AnningCheng-NOAA @andrewgettelman
physics/aerclm_def.F                           @AnningCheng-NOAA @andrewgettelman
physics/cldmacro.F                             @AnningCheng-NOAA @andrewgettelman
physics/cldwat2m_micro.F                       @AnningCheng-NOAA @andrewgettelman
physics/wv_saturation.F                        @AnningCheng-NOAA @andrewgettelman
physics/micro_mg*                              @AnningCheng-NOAA @andrewgettelman

physics/ozphys*                                @AlexBelochitski-NOAA

physics/satmedmfvdif.*                         @JongilHan66
physics/satmedmfvdifq.*                        @JongilHan66
physics/mfpbl.f                                @JongilHan66
physics/mfscu.f                                @JongilHan66
physics/mfpbltq.f                              @JongilHan66
physics/mfscuq.f                               @JongilHan66

physics/shinhongvdif.*                         @ChunxiZhang-NOAA
physics/ysuvdif.*                              @ChunxiZhang-NOAA

physics/tridi.f                                @JongilHan66 @ChunxiZhang-NOAA @JongilHan66 @WeiguoWang-NOAA @AlexBelochitski-NOAA 

physics/moninedmf.*                            @JongilHan66 @WeiguoWang-NOAA

physics/module_BL_MYJPBL.*                     @Qingfu-Liu
physics/module_MYJPBL_wrapper.*                @Qingfu-Liu

physics/module_bl_mynn.*                       @joeolson42
physics/module_MYNNPBL_wrapper.*               @joeolson42

physics/gcm_shoc.*                             @AlexBelochitski-NOAA
physics/moninshoc.*                            @AlexBelochitski-NOAA

physics/rte-rrtmgp                             @dustinswales @Qingfu-Liu
physics/radiation_tools.*                      @dustinswales @Qingfu-Liu
physics/rrtmgp_lw_rte.met*                     @dustinswales @Qingfu-Liu
physics/rrtmgp_sw_rte.met*                     @dustinswales @Qingfu-Liu

physics/radlw_main.*                           @mjiacono @Qingfu-Liu
physics/HWRF_mcica_random_numbers.F90          @mjiacono @Qingfu-Liu
physics/HWRF_mersenne_twister.F90              @mjiacono @Qingfu-Liu
physics/radlw_datatb.f                         @mjiacono @Qingfu-Liu
physics/radsw_datatb.*                         @mjiacono @Qingfu-Liu
physics/radsw_main.*                           @mjiacono @Qingfu-Liu

physics/radsw_param.f                          @dustinswales @Qingfu-Liu @mjiacono

physics/rayleigh_damp.*                        @yangfanglin
physics/GFS_stochastics.*                      @pjpegion @lisa-bengtsson
physics/flake*                                 @YihuaWu-NOAA

physics/sfc_drv.*                              @HelinWei-NOAA
physics/sflx.f                                 @HelinWei-NOAA
physics/surface_perturbation.*                 @HelinWei-NOAA

physics/*noahmp*                               @barlage @cenlinhe

physics/set_soilveg.*                          @HelinWei-NOAA @barlage @cenlinhe
physics/namelist_soilveg.*                     @HelinWei-NOAA @barlage @cenlinhe

physics/namelist_soilveg_ruc.*                 @tanyasmirnova
physics/set_soilveg_ruc.*                      @tanyasmirnova
physics/module_sf_ruclsm.*                     @tanyasmirnova
physics/module_soil_pre.*                      @tanyasmirnova
physics/sfc_drv_ruc.*                          @tanyasmirnova

physics/date_def.f                             @XuLi-NOAA
physics/*nst*                                  @XuLi-NOAA

physics/sfc_ocean.*                            @HelinWei-NOAA
physics/sfc_diff.*                             @JongilHan66

physics/h2ophys.*                              @AlexBelochitski-NOAA

physics/sfc_sice.*                             @wd20xw
physics/sfc_cice.*                             @wd20xw

########################################################################

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
#*       @defunkt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com
