Repository AndersJensen-NOAA/ccpp-physics, changes with the owners that CODEOWNERS names for each.
All owners: @grantfirl, @ChunxiZhang-NOAA, @dustinswales, @mzhangw, @haiqinli, @AnningCheng-NOAA, @hannahcbarnes, @JongilHan66, @SMoorthi-emc, @mdtoyNOAA, @ValeryYudin-NOAA, @Songyou184, @RuiyuSun, @ericaligo-NOAA, @gthompsnWRF, @andrewgettelman, @AlexBelochitski-NOAA, @WeiguoWang-NOAA, @Qingfu-Liu, @joeolson42, @mjiacono, @yangfanglin, @pjpegion, @lisa-bengtsson, @YihuaWu-NOAA, @HelinWei-NOAA, @barlage, @cenlinhe, @tanyasmirnova, @XuLi-NOAA, @wd20xw

remove test code. some additional tweaks for cloud-radiation.
  physics/module_bl_mynn.F90
Owners: @joeolson42, @grantfirl, @ChunxiZhang-NOAA, @dustinswales

some additional tweaks for cloud nucleation and radiation interaction.
  physics/module_mp_thompson.F90
Owners: @gthompsnWRF, @RuiyuSun, @grantfirl, @ChunxiZhang-NOAA, @dustinswales

final tweaks for HFIP code
  physics/module_bl_mynn.F90
  physics/module_sf_mynn.F90
Owners: @joeolson42, @grantfirl, @ChunxiZhang-NOAA, @dustinswales, @mzhangw

Add lower limit to cloud drop nucleation for aerosol aware scheme
  physics/module_mp_thompson.F90
Owners: @gthompsnWRF, @RuiyuSun, @grantfirl, @ChunxiZhang-NOAA, @dustinswales

Add real(kind_phys) to module
  physics/module_mp_thompson_make_number_concentrations.F90
Owners: @gthompsnWRF, @RuiyuSun, @grantfirl, @ChunxiZhang-NOAA, @dustinswales

Thompson SGS
  physics/module_mp_thompson.F90
  physics/mp_thompson.F90
  physics/mp_thompson.meta
Owners: @gthompsnWRF, @RuiyuSun, @grantfirl, @ChunxiZhang-NOAA, @dustinswales

Initial prognostic clouds fraction
  physics/module_mp_thompson.F90
  physics/mp_thompson.F90
  physics/mp_thompson.meta
Owners: @gthompsnWRF, @RuiyuSun, @grantfirl, @ChunxiZhang-NOAA, @dustinswales

Initial commit
  .gitmodules
  physics/GFS_rrtmg_pre.meta
  physics/GFS_rrtmg_setup.meta
  physics/GFS_rrtmgp_cloud_mp.meta
  physics/GFS_rrtmgp_setup.meta
  physics/module_mp_thompson.F90
  physics/mp_thompson.meta
  physics/sgscloud_radpre.meta
Owners: @grantfirl, @ChunxiZhang-NOAA, @dustinswales, @mzhangw, @gthompsnWRF, @RuiyuSun

Update thompson MP submodule
  physics/module_mp_radar.F90
  physics/mp_thompson.meta
Owners: @gthompsnWRF, @RuiyuSun, @grantfirl, @ChunxiZhang-NOAA, @dustinswales

initial commit
  .gitmodules
  physics/module_mp_radar.F90
  physics/module_mp_thompson.F90
  physics/mp_thompson.meta
Owners: @grantfirl, @ChunxiZhang-NOAA, @dustinswales, @mzhangw, @gthompsnWRF, @RuiyuSun

CODEOWNERS:

########################################################################

# CODEOWNERS RULES  (syntax guide is at end of file)

# Default codeowners for files that don't have specific owners:

*           @grantfirl @ChunxiZhang-NOAA @dustinswales @mzhangw


# The following lines are from the CCPP Primary Schemes Points of Contact
#   https://docs.google.com/spreadsheets/d/14y0Th_sSpCqlssEMNfSZ_Ni9wrpPqfpPY0kRG7jCZB8/edit#gid=0
# (Internal NOAA document.)

smoke/*                                        @haiqinli                            @grantfirl @ChunxiZhang-NOAA @dustinswales

physics/cs_conv_aw_adj.*                       @AnningCheng-NOAA                    @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/cs_conv.*                              @AnningCheng-NOAA                    @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/cu_gf*                                 @hannahcbarnes @haiqinli             @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/sascnvn.*                              @JongilHan66                         @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/cu_ntiedtke*                           @ChunxiZhang-NOAA                    @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/rascnv.*                               @SMoorthi-emc                        @grantfirl @ChunxiZhang-NOAA @dustinswales

physics/samfdeepcnv.*                          @JongilHan66                         @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/samfshalcnv.*                          @JongilHan66                         @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/samfaerosols.*                         @JongilHan66                         @grantfirl @ChunxiZhang-NOAA @dustinswales

physics/shalcnv.*                              @JongilHan66                         @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/unified_ugwp*                          @mdtoyNOAA                           @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/ugwp_driver_v0.F                       @mdtoyNOAA                           @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/cires_ugwp*                            @mdtoyNOAA @ValeryYudin-NOAA         @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/drag_suite.*                           @mdtoyNOAA                           @grantfirl @ChunxiZhang-NOAA @dustinswales

physics/gwdc.*                                 @Songyou184                          @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/gwdps.*                                @Songyou184                          @grantfirl @ChunxiZhang-NOAA @dustinswales

physics/gfdl_fv_sat_adj.*                      @RuiyuSun                            @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/gfdl_cloud_microphys.*                 @RuiyuSun                            @grantfirl @ChunxiZhang-NOAA @dustinswales

physics/module_gfdl_cloud_microphys.*          @RuiyuSun                            @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/multi_gases.F90                        @RuiyuSun                            @grantfirl @ChunxiZhang-NOAA @dustinswales

physics/mp_fer_hires.*                         @ericaligo-NOAA                      @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/module_MP_FER_HIRES.*                  @ericaligo-NOAA                      @grantfirl @ChunxiZhang-NOAA @dustinswales

physics/module_mp_thompson*                    @gthompsnWRF @RuiyuSun               @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/module_mp_radar.*                      @gthompsnWRF @RuiyuSun               @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/mp_thompson*                           @gthompsnWRF @RuiyuSun               @grantfirl @ChunxiZhang-NOAA @dustinswales

physics/precpd.*                               @RuiyuSun                            @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/gscond.*                               @RuiyuSun                            @grantfirl @ChunxiZhang-NOAA @dustinswales

physics/m_micro*                               @AnningCheng-NOAA @andrewgettelman   @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/aer_cloud.F                            @AnningCheng-NOAA @andrewgettelman   @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/aerclm_def.F                           @AnningCheng-NOAA @andrewgettelman   @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/cldmacro.F                             @AnningCheng-NOAA @andrewgettelman   @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/cldwat2m_micro.F                       @AnningCheng-NOAA @andrewgettelman   @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/wv_saturation.F                        @AnningCheng-NOAA @andrewgettelman   @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/micro_mg*                              @AnningCheng-NOAA @andrewgettelman   @grantfirl @ChunxiZhang-NOAA @dustinswales

physics/ozphys*                                @AlexBelochitski-NOAA                @grantfirl @ChunxiZhang-NOAA @dustinswales

physics/satmedmfvdif.*                         @JongilHan66                         @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/satmedmfvdifq.*                        @JongilHan66                         @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/mfpbl.f                                @JongilHan66                         @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/mfscu.f                                @JongilHan66                         @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/mfpbltq.f                              @JongilHan66                         @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/mfscuq.f                               @JongilHan66                         @grantfirl @ChunxiZhang-NOAA @dustinswales

physics/shinhongvdif.*                         @ChunxiZhang-NOAA                    @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/ysuvdif.*                              @ChunxiZhang-NOAA                    @grantfirl @ChunxiZhang-NOAA @dustinswales

physics/tridi.f                                @JongilHan66 @ChunxiZhang-NOAA @JongilHan66 @WeiguoWang-NOAA @AlexBelochitski-NOAA       @grantfirl @ChunxiZhang-NOAA @dustinswales

physics/moninedmf.*                            @JongilHan66 @WeiguoWang-NOAA        @grantfirl @ChunxiZhang-NOAA @dustinswales

physics/module_BL_MYJPBL.*                     @Qingfu-Liu                          @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/module_MYJPBL_wrapper.*                @Qingfu-Liu                          @grantfirl @ChunxiZhang-NOAA @dustinswales

physics/module_bl_mynn.*                       @joeolson42                          @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/module_MYNNPBL_wrapper.*               @joeolson42                          @grantfirl @ChunxiZhang-NOAA @dustinswales

physics/gcm_shoc.*                             @AlexBelochitski-NOAA                @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/moninshoc.*                            @AlexBelochitski-NOAA                @grantfirl @ChunxiZhang-NOAA @dustinswales

physics/rte-rrtmgp                             @dustinswales @Qingfu-Liu            @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/radiation_tools.*                      @dustinswales @Qingfu-Liu            @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/rrtmgp_lw_rte.*                        @dustinswales @Qingfu-Liu            @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/rrtmgp_sw_rte.*                        @dustinswales @Qingfu-Liu            @grantfirl @ChunxiZhang-NOAA @dustinswales

physics/radlw_main.*                           @mjiacono @Qingfu-Liu                @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/HWRF_mcica_random_numbers.F90          @mjiacono @Qingfu-Liu                @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/HWRF_mersenne_twister.F90              @mjiacono @Qingfu-Liu                @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/radlw_datatb.f                         @mjiacono @Qingfu-Liu                @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/radsw_datatb.*                         @mjiacono @Qingfu-Liu                @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/radsw_main.*                           @mjiacono @Qingfu-Liu                @grantfirl @ChunxiZhang-NOAA @dustinswales

physics/radsw_param.f                          @dustinswales @Qingfu-Liu @mjiacono  @grantfirl @ChunxiZhang-NOAA @dustinswales

physics/rayleigh_damp.*                        @yangfanglin                         @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/GFS_stochastics.*                      @pjpegion @lisa-bengtsson            @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/flake*                                 @YihuaWu-NOAA                        @grantfirl @ChunxiZhang-NOAA @dustinswales

physics/sfc_drv.*                              @HelinWei-NOAA                       @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/sflx.f                                 @HelinWei-NOAA                       @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/surface_perturbation.*                 @HelinWei-NOAA                       @grantfirl @ChunxiZhang-NOAA @dustinswales

physics/*noahmp*                               @barlage @cenlinhe                   @grantfirl @ChunxiZhang-NOAA @dustinswales

physics/set_soilveg.*                          @HelinWei-NOAA @barlage @cenlinhe    @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/namelist_soilveg.*                     @HelinWei-NOAA @barlage @cenlinhe    @grantfirl @ChunxiZhang-NOAA @dustinswales

physics/namelist_soilveg_ruc.*                 @tanyasmirnova                       @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/set_soilveg_ruc.*                      @tanyasmirnova                       @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/module_sf_ruclsm.*                     @tanyasmirnova                       @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/module_soil_pre.*                      @tanyasmirnova                       @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/sfc_drv_ruc.*                          @tanyasmirnova                       @grantfirl @ChunxiZhang-NOAA @dustinswales

physics/date_def.f                             @XuLi-NOAA                           @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/*nst*                                  @XuLi-NOAA                           @grantfirl @ChunxiZhang-NOAA @dustinswales

physics/sfc_ocean.*                            @HelinWei-NOAA                       @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/sfc_diff.*                             @JongilHan66                         @grantfirl @ChunxiZhang-NOAA @dustinswales

physics/h2ophys.*                              @AlexBelochitski-NOAA                @grantfirl @ChunxiZhang-NOAA @dustinswales

physics/sfc_sice.*                             @wd20xw                              @grantfirl @ChunxiZhang-NOAA @dustinswales
physics/sfc_cice.*                             @wd20xw                              @grantfirl @ChunxiZhang-NOAA @dustinswales

########################################################################

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
#*       @defunkt

# Order is important. The last matching pattern has the most precedence.
# So if a pull request only touches javascript files, only these owners
# will be requested to review.
#*.js    @octocat @github/js

# You can also use email addresses if you prefer.
#docs/*  docs@example.com
